<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.flasktest.uwsgi</string>
    <key>ProgramArguments</key>
    <array>
        <string>echo</string>
        <string>test</string>
    </array>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/flasktest.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/flasktest.log</string>
    <key>SoftResourceLimits</key>
    <dict>
        <key>Core</key>
        <integer>9223372036854775807</integer>
    </dict>
    <key>HardResourceLimits</key>
    <dict>
        <key>Core</key>
        <integer>9223372036854775807</integer>
    </dict>
</dict>
</plist>
