[Unit]
Description=uWSGI Test Instance
After=network.target

[Service]
User=webdev
Group=webdev
WorkingDirectory=/var/www/flaskapp
ExecStart=UWSGIAPP --ini myproject.ini

[Install]
WantedBy=multi-user.target
